!!! Strict
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %title Cipher My URL
  %body
    %div
      = yield

    %div#footer
      %p
        About | API | User Help | Source Code
-#        %a(href='https://plus.google.com/102094915438818669469/posts/g4tYBNoSTod')
-#          Andrew Zubinski
