!!! 5
%html
  %head
    = yield_content :title
    = yield_content :script
    %link(rel="stylesheet" href="/style.css")

  %body
    = yield_content :menu
    
    .container-fluid#content
      .row-fluid
        .span12#yield
          = yield

    %footer.container-fluid
      .row-fluid
        .span3
          %img(src="/sadhipster.png" alt='Sad Hipster')
        .span9
          %p
            %a{href: url('/help/api.xhtml')} API
            %br/
            %a{href: url("/help/src.txt")} Source Code
            %br/
            %a{href: url('/help/terms.txt')} Terms of Use
