%h1 Unpack

- unless data
  %form#unpack
    %p
      To display slot #
      %span#slot<>
        = slot
      , type its password:
      %input(type='text' id='pw')
      %input(type='submit')

%form
  %p
    %textarea#data(rows='10' cols='80')
      =data

%form#unpackother
  %fieldset
    %legend
      Another Query
    Slot #
    %input(type='text' id='slot')
    Password:
    %input(type='text' id='pw')
    %input(type='submit')
    %input(type='reset')
