---
# The default database.
# Look into ../lib/*/db/ directory for possible choices.
:dbadapter: :pstore

:db:
  :couchdb:
    :params:
      :login: user
      :pw: password
      :tls: false
      :host: 127.0.0.1
      :port: 5984
      :dbname: ciphermyurl
  :pstore:
    :params:
      :file: some/file.marshall

# Mandatory for :production mode
:recaptcha:
  :kpublic: key1
  :kprivate: key2

# A pair of keys for a web client.
# Set them with something meaningfully long.
:webclient:
  :kpublic: key1
  :kprivate: key2
  :email: john.doe@example.com

