--- 
:dbadapter: :pstore

:db:
  :couchdb:
    :params:
      :login: user
      :pw: password
      :tls: false
      :host: 127.0.0.1
      :port: 5984
      :dbname: ciphermyurl
  :pstore:
    :params:
      :file: some-file

# A pair of keys for a web client.
# Set them with something meaningfully long.
:webclient:
  :kpublic: key1
  :kprivate: key2
  :email: john.doe@example.com

