configure do
  set :debug, false
  set :recaptcha_public_key, 'SET THIS'
  set :recaptcha_private_key, 'SET THIS'
end

configure :production, :development do
  # 2 db
  MyDB.setAdapter(:pstore, file: settings.root + '/db/data.marshall')
  Api.apikeys_load settings.root + '/db/apikeys.yaml'
end

configure :development do
  # Ignore captcha
  Rack::Recaptcha.test_mode! :return => true

  # Captcha do not displayed if true
  set :debug, true
end

configure :production do
  set :haml, ugly: true
end

# for :test config, see test/helpers.rb
